[credential]
	helper = manager
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[user]
	email = alexandre.vialar@sap.com
	name = Alexandre Vialar
[credential "https://dev.azure.com"]
	useHttpPath = true
[pull]
	rebase = true
